/TutorialTwo/SimpleTestTwo/nbproject/private/
/TutorialTwo/SimpleTestTwo/build/
/TutorialThree/Tutorial3/nbproject/private/
/TutorialThree/Tutorial3/build/
/TutorialThree/Tutorial3Client/nbproject/private/
/TutorialThree/Tutorial3Client/build/