/TutorialTwo/SimpleTestTwo/nbproject/private/
/TutorialTwo/SimpleTestTwo/build/
/TutorialThree/Tutorial3/nbproject/private/
/TutorialThree/Tutorial3/build/
/TutorialThree/Tutorial3Client/nbproject/private/
/TutorialThree/Tutorial3Client/build/
/TutorialFour/nbproject/private/
/TutorialFour/Tutorial4/nbproject/private/
/TutorialFour/Tutorial4/build/
/TutorialFour/TutorialClient/nbproject/private/
/TutorialFour/Tutorial4Client/nbproject/private/
/TutorialFour/Tutorial4Client/build/
/TutorialFive/Tutorial5/nbproject/private/
/TutorialFive/Tutorial5/build/
/TutorialFive/Tutorial5Client/nbproject/private/
/TutorialFive/Tutorial5Client/build/